<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>home.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C_setchange</servlet-name>
		<servlet-class>setchange.C_setchangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_setchange</servlet-name>
		<url-pattern>/c_setchange</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>new</servlet-name>
		<servlet-class>home.New</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SubPage</servlet-name>
		<servlet-class>home.SubPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubPage</servlet-name>
		<url-pattern>/SubPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Newtemp</servlet-name>
		<servlet-class>home.Newtemp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newtemp</servlet-name>
		<url-pattern>/newtemp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Tempdata</servlet-name>
		<servlet-class>home.Tempdata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tempdata</servlet-name>
		<url-pattern>/tempdata</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>home.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C_login</servlet-name>
		<servlet-class>clogin.C_loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_login</servlet-name>
		<url-pattern>/c_login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>C_administer</servlet-name>
		<servlet-class>administer.C_administerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_administer</servlet-name>
		<url-pattern>/c_administer</url-pattern>
	</servlet-mapping>

</web-app>
