<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlet Mapping Home -->



<!-- Servlet Mapping setchange -->

	<servlet>
		<servlet-name>Change_address</servlet-name>
		<servlet-class>setchange.Change_address</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_address</servlet-name>
		<url-pattern>/change_address</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Change_pass</servlet-name>
		<servlet-class>setchange.Change_pass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_pass</servlet-name>
		<url-pattern>/change_pass</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet Mapping Calc -->

	<servlet>
		<servlet-name>Candi_get</servlet-name>
		<servlet-class>Calc.Candi_get</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Candi_get</servlet-name>
		<url-pattern>/candi_get</url-pattern>
	</servlet-mapping>
	
	
	<!-- Servlet Mapping c_login -->
		<servlet>
		<servlet-name>C_login</servlet-name>
		<servlet-class>clogin.C_loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_login</servlet-name>
		<url-pattern>/c_login</url-pattern>
	</servlet-mapping>

<!-- Servlet Mapping administer -->

	<servlet>
		<servlet-name>C_administer</servlet-name>
		<servlet-class>administer.C_administerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_administer</servlet-name>
		<url-pattern>/c_administer</url-pattern>
	</servlet-mapping>

<!-- Servlet Mapping manager -->

	<servlet>
		<servlet-name>C-manager</servlet-name>
		<servlet-class>manager.MainPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C-manager</servlet-name>
		<url-pattern>/c_manager</url-pattern>
	</servlet-mapping>

<!-- Servlet Mapping New -->

	<servlet>
		<servlet-name>new_comment</servlet-name>
		<servlet-class>NewData.NewComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new_comment</servlet-name>
		<url-pattern>/new_comment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>File_up</servlet-name>
		<servlet-class>NewData.File_up</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File_up</servlet-name>
		<url-pattern>/File_up</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>File_up_grape</servlet-name>
		<servlet-class>NewData.File_up_grape</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File_up_grape</servlet-name>
		<url-pattern>/File_up_grape</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Newtemp</servlet-name>
		<servlet-class>NewData.Newtemp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newtemp</servlet-name>
		<url-pattern>/newtemp</url-pattern>
	</servlet-mapping>

<!-- Servlet Mapping welcome-file -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
