<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlet Mapping Home -->

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.timeZone</param-name>
    <param-value>Asia/Tokyo</param-value>
  </context-param>

	<!-- Servlet Mapping setchange -->

	<servlet>
		<servlet-name>Change_address</servlet-name>
		<servlet-class>setchange.Change_address</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_address</servlet-name>
		<url-pattern>/change_address</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change_pass</servlet-name>
		<servlet-class>setchange.Change_pass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_pass</servlet-name>
		<url-pattern>/change_pass</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change_area</servlet-name>
		<servlet-class>setchange.Change_area</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_area</servlet-name>
		<url-pattern>/change_area</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Change_month</servlet-name>
		<servlet-class>setchange.Change_Month</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change_month</servlet-name>
		<url-pattern>/change_month</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping Calc -->

	<servlet>
		<servlet-name>Candi_get</servlet-name>
		<servlet-class>Calc.Candi_get</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Candi_get</servlet-name>
		<url-pattern>/candi_get</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>new_predict</servlet-name>
		<servlet-class>Calc.NewPredict</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new_predict</servlet-name>
		<url-pattern>/new_predict</url-pattern>
	</servlet-mapping>



	<!-- Servlet Mapping c_login -->


	<servlet>
		<servlet-name>C_login</servlet-name>
		<servlet-class>clogin.C_loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C_login</servlet-name>
		<url-pattern>/c_login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout_Servlet</servlet-name>
		<servlet-class>clogin.Logout_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout_Servlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admini_Login_Servlet</servlet-name>
		<servlet-class>clogin.Admini_Login_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admini_Login_Servlet</servlet-name>
		<url-pattern>/admn_login</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping DataEliminator -->

	<servlet>
		<servlet-name>User_Eliminator</servlet-name>
		<servlet-class>DataEliminator.User_Eliminator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User_Eliminator</servlet-name>
		<url-pattern>/user_eliminator</url-pattern>
	</servlet-mapping>



	<!-- Servlet Mapping passforget -->

	<servlet>
		<servlet-name>passforget</servlet-name>
		<servlet-class>passforget.passforgetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passforget</servlet-name>
		<url-pattern>/passforget</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>passreset</servlet-name>
		<servlet-class>passforget.passresetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passreset</servlet-name>
		<url-pattern>/passreset</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>secretq</servlet-name>
		<servlet-class>passforget.secretqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>secretq</servlet-name>
		<url-pattern>/secretq</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping manager -->

	<servlet>
		<servlet-name>C-manager</servlet-name>
		<servlet-class>manager.MainPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>C-manager</servlet-name>
		<url-pattern>/c_manager</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Accountmanage</servlet-name>
		<servlet-class>manager.Accountmanage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accountmanage</servlet-name>
		<url-pattern>/accountmanage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>manager.DeleteAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewComment</servlet-name>
		<servlet-class>manager.ViewComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewComment</servlet-name>
		<url-pattern>/ViewComment</url-pattern>
	</servlet-mapping>


	<!-- Servlet Mapping New -->

	<servlet>
		<servlet-name>new_comment</servlet-name>
		<servlet-class>NewData.NewComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new_comment</servlet-name>
		<url-pattern>/new_comment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>File_up</servlet-name>
		<servlet-class>NewData.File_up</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File_up</servlet-name>
		<url-pattern>/File_up</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>File_up_grape</servlet-name>
		<servlet-class>NewData.File_up_grape</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File_up_grape</servlet-name>
		<url-pattern>/File_up_grape</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Newtemp</servlet-name>
		<servlet-class>NewData.Newtemp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newtemp</servlet-name>
		<url-pattern>/newtemp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewYield</servlet-name>
		<servlet-class>NewData.NewYield</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewYield</servlet-name>
		<url-pattern>/newyield</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping signup -->
	<servlet>
		<servlet-name>newsignup</servlet-name>
		<servlet-class>signup_.Newsignup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newsignup</servlet-name>
		<url-pattern>/newsignup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register_Administer</servlet-name>
		<servlet-class>signup_.Register_Administer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register_Administer</servlet-name>
		<url-pattern>/register_administer</url-pattern>
	</servlet-mapping>

	<!-- Servlet Mapping welcome-file -->
	<welcome-file-list>
		<welcome-file>Login/login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
